{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src",
                    "@pages": "./src/pages",
                    "@layouts": "./src/layouts",
                    "@components": "./src/components"
                }
            }
        ]
    ]
}
